@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;



h2, h3 {
    margin-bottom: 20px;
}

.table {
    margin-bottom: 40px;
}

.table th, .table td {
    vertical-align: middle;
}

.table td{
    background-color: #f2f2f2;
}

.table th {
    background-color: #007bff;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.d-none {
    display: none;
}
